body{
    background: #f2e0c9;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: #E9967A;
    border-radius: 5px;
    box-shadow: 5px 10px #f2e0c9;
}

.assignment img{
    width: 200px;
    border: 2px solid #401201;
    margin-right: 20px;
    border-radius: 5px;
}

h1{
    color: #CD5C5C;
    text-align: center;
}

a {
    text-decoration:none;
    color: snow;
}

.assignment a:hover {
    color: #401201 ;
}